body {
    font-family: 'roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    color: #555555;
    background: #ffffff;
}
h1 {
    font-size: 48px;
}
h3 {
    padding-top: 95px;
    font-weight: 500;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: #ffffff;
    
    &:hover {
        text-decoration: none;
        color: #ffffff;
    }
}
.flex-center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
 
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
    justify-content: center;

	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
    align-items: center
}
.flex-directoin-column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
    flex-direction: column;
}
.radius(@radius:6px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}
.track-element {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.button {
    margin-top: 42px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    border: 2px solid #ffffff;
        
    &:hover {
        cursor: pointer;
    }
}
.line {
    width: 50px;
    height: 2px;
    margin: 25px 0 0 calc(50% - 25px); 
    background: #555555;
}
.block-description {
    font-weight: 500;
    font-size: 16px;
    margin-top: 25px;
}
header {
    text-align: center;
    color: #ffffff;
    background-image: url(../images/bacgroundimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .mobile-menu-icon {
        position: relative;
        margin-right: 30px;
        
        .block-icon {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            .flex-center;
            .flex-directoin-column;
            width: 30px;
            height: 30px;
            margin: auto;
            cursor: pointer;
        }
        .stick {
            width: 30px;
            height: 2px;
            margin-bottom: 8px;
            background-color:  #ffffff;
            display: inline-block;
        }
        .stick:last-child {
            margin-bottom: 0px;
        }
        .stick-1.open {
            animation: stick-1-open .6s ease-out forwards;
        }
        .stick-2.open {
            animation: stick-2-open .6s linear forwards;
        }
        .stick-3.open {
            animation: stick-3-open .6s linear forwards;
        }
        @keyframes stick-1-open {
            0%   {width: 30px;}
            40%  {background-color: #ffffff; width: 8px; transform: translate(40px, 0px);}
            75%, 80%  {width: 8px; transform: translate(40px, -50px); animation-timing-function: cubic-bezier(0,1,1,1);}
            100% {background-color: #ffffff; width: 8px; transform: translate(35px, 46px);}
        }
        @keyframes stick-2-open {
            80%  {background-color: #ffffff; transform: translate(0px, 0px) rotate(0deg);}
            100% {background-color: #ffffff; transform: translate(0px, 0px) rotate(40deg);}
        }
        @keyframes stick-3-open {
            80%  {background-color: #ffffff; transform: translate(0px, 0px) rotate(0deg);}
            100% {background-color: #ffffff; transform: translate(0px, -10px) rotate(-40deg);}
        }
        .stick-1.close {
            width: 8px; 
            transform: translate(27px, 26px);
            animation: stick-1-close .6s ease-out forwards;
        }
        .stick-2.close {
            transform: translate(0px, 0px) rotate(40deg);
            animation: stick-2-close .6s ease-out forwards;
        }
        .stick-3.close {
            transform: translate(0px, -23px) rotate(-40deg);
            animation: stick-3-close .6s ease-out forwards;
        }
        @keyframes stick-1-close {
            0%, 70% {width: 0px;}
            100% {width: 30px; transform: translate(0, 0);}
        }
        @keyframes stick-2-close {
            0% {width: 30px;}
            20% {width: 8px; transform: translate(0, 0px) rotate(40deg);}
            40% {width: 0px;}
            65% {transform: translate(0, -70px); animation-timing-function: cubic-bezier(0,1,1,1);}
            80% {width: 0px;}
            100% {width: 30px; transform: translate(0, 0px);}
        }
        @keyframes stick-3-close {
            0% {width: 30px;}
            20% {width: 8px; transform: translate(0, -23px) rotate(-40deg);}
            65% {transform: translate(0, -93px); animation-timing-function: cubic-bezier(0,1,1,1);}
            90% {width: 8px;}
            100% {width: 30px; transform: translate(0, 0px);}
        }
    }
    .mobile-menu {
        position: absolute;
        display: none;
        width: 100%;
        margin-top: 1px;
        font-size: 30px;
        background: #c0301c;
    }
    .menu-show {
        display: block;
    }
    .logo {
        font-weight: 700;
    }
    nav {
        
        li {
            font-weight: 500;
            
            &:not(:first-child) {
                margin-left: 34px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    .header-block {
        .flex-directoin-column;
        width: 100%;
        height: 100vh;
    
        .header-text {
            margin-top: 5px;
            font-weight: 500;
            font-size: 20px;
        }
        .started-button {
            .button;
        }
    }
}
.fixed-top {
    top: 40px;
}
.mobile-menu-background {
    background:  #c0301c;
}
.scroll {
    top: 0;
    background-image: url(../images/bacgroundimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content-wrapper {
    width: 100%;
    text-align: center;
    
    .services {
        padding-bottom: 100px;
        
        .services-content {
            .services-item {
                margin-top: 70px;
            }
            
            .services-discription-text {
                margin-top: 25px;
                font-weight: 500;
            }
            .services-text {
                margin-top: 20px;
            }
        }
    }
    .about-us {
        padding-bottom: 100px;
        background-color: #f8f8f8;
        
        .about-us-text {
            margin-top: 60px;
            text-align: left;
        }
        .carousel {
            margin-top: 70px;
            
            .img-container {
                position: relative;
                
                .track-element {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }
                .impact-object {
                    position: absolute;
                    top: 0;
                    display: none;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.5);
                    
                    .panel {
                        margin-top: 70%;
                        
                        .panel-icon {
                            .flex-center;
                            width: 28px;
                            height: 28px;
                            
                            &:hover {
                                cursor: pointer;
                                background: #c0301c;
                            }
                            img {
                                width: auto !important;  
                            }
                        }
                    }
                }
            }
            .dev-name {
                margin-top: 20px;
                font-weight: 500;
            }
            .specialization-dev {
                margin-top: 15px;
            }
            .owl-prev, .owl-next {
                position: absolute;
                width: 35px;
                height: 38px;
                background: #8a8a8a !important;
    
                &:hover {
                    background: #c0301c !important;
                }
            }
            .owl-nav {
                position: absolute;
                top: calc(50% - 19px);
                width: 100%;
            }
            .owl-prev {
                left: 0;
            }
            .owl-next {
                right: 0;
            }
        }
    }
    .lets-works {
        .works-wrapper {
            margin-top: 40px;
            
            .works-item {
                padding: 15px;
            .wrap {
                position: relative;
                padding-bottom: 100%;
            
                img {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .track-element {
                
                    .view-wrapper {
                        display: none;
                        width: 100%;
                        height: 100%;
                    
                        .view-content {
                            .flex-center;
                            .flex-directoin-column;
                            width: 100%;
                            height: 100%;
                            background: rgba(192, 48, 28, 0.7);
                            color: #ffffff;
                        
                            .view-title {
                                font-size: 18px;
                                font-weight: 500;
                            }
                            .view-description {
                                margin-top: 0;
                                font-size: 12px;
                            }
                            .view-button {
                                .flex-center;
                                width: 100px;
                                height: 38px;
                                margin-top: 15px;
                                color: #c0301c;
                                background: #ffffff;
                            
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
        .works-footer {
            .flex-center;
            .flex-directoin-column;
            margin-top: 85px;
            padding-bottom: 90px;
            color: #ffffff;
            background-image: url(../images/vorksbackground.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            
            .works-footer-text {
                margin-top: 90px;
                font-size: 30px;
                font-weight: 500;
                line-height: 1.467;
            }
            .works-footer-button {
                .button;
            }
        }
    }
}
.contact {
    .contact-content {
        margin-top: 50px;
        
        .contact-wrapper {
            text-align: left;
        
            .contact-icons {
                position: absolute;
                left: 0;
            }
            .hotline, .e-mail {
                margin-top: 35px;
            }
            .address {
                margin-top: 20px;
            }
            .contact-hedline, .contact-text {
                padding-left: 26px;
            }
            .contact-hedline {
                position: relative;
                font-weight: 500;
            }
            .contact-text {
                margin-top: 20px;
                font-size: 12px;
            }
        }
        form {
            margin: 0;
            font-weight: 500;
            
            .form-input {
                margin-top: 20px;
            }
            input, textarea, .submit-button {
                padding: 11px 16px;
                font-size: 12px;
                color: #555555;
                border: 1px solid #555555;
            
                &::placeholder {
                    color: #555555;
                }
            }
            textarea {
                height: 105px;
            }
            .submit-button {
                width: 168px;
 
                &:hover {
                    cursor: pointer;
                }
            }
            .warning-form-text {
                width: fit-content;
                margin-top: 15px;
                font-size: 12px;
                
                span::before {
                    content: '* ';
                    color: #c0301c;
                }
            }
        }
    } 
}
footer {
    margin-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    color: #ffffff;
    background: #c0301c;
    
    .footer-img {
        padding-top: 100px;
        
        img:not(:first-child) {
            margin-left: 14px;
        }
    }
    .line {
        background: #ffffff;
    }
    .footer-text {
        margin-top: 30px;
        font-size: 12px;
        font-weight: 500;
    }
}
